.full-page {
    background-color: #ffffff;
}

body {
    font-size: 16px;
}

.header-text {
    text-align: center;
}

.full-name h1 {
font-size: 30px;
color: rgb(0, 73, 67);
margin-top: 30px;
margin-bottom: 0px;
}

.full-name p {
    font-size: 16px;
}

.first-paragraph {
    text-align:center;
}

.second-paragraph {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.second-paragraph h3 {
    color: rgb(148, 113, 0);
    margin-bottom: -10px;
    margin-top: 20px;
}

.third-paragraph {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.third-paragraph h3 {
    color: rgb(44, 138, 1);
    margin-top: 20px;
}

.third-paragraph p {
    margin-top: -10px;
    font-size: 16px;
}

.forth-paragraph {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.forth-paragraph p {
    margin-top: 30px;
    font-size: 16px;
}

.fifth-paragraph {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.fifth-paragraph h3 {
    color: rgb(148, 113, 0);
    margin-bottom: -10px;
    margin-top: 20px;
}

.sixth-paragraph {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.sixth-paragraph h3 {
    color: rgb(148, 113, 0);
    margin-bottom: -10px;
    margin-top: 20px;
}